.todo {
  flex: 1;
  outline: none;
  cursor: pointer;
  font-size: 1.5rem;
  word-break: break-all;
  line-height: 1.2;
  transition: color 0.3s;
  padding: 15px 15px 17px 15px;
}

.remove {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  width: 50px;
  color: var(--trash-color);
}

.checked {
  text-decoration: line-through;
}

li.listItem {
  display: flex;
  border-top: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
}